.container{
    display: flex;
}

.direction-column,
.operators{
    flex-direction: column;
}

.calculator-base{
    width: 250px;
    height: 500px;
    background-color: black;
    padding: 10px;
    gap: 40px;
}

.display{
    flex-basis: 50px;
    background-color: white;
    
}

.number,
.operator{
    flex-basis: 25px;
    flex-grow: 1;
    margin: 2px;
    background-color: white;
}

.first-row,
.second-row{
    flex-grow: 1;
}

.buttons{
    gap: 10px;
}

.clear{
    flex-basis: 30px;
    background-color: white;
    text-align: center;
}

.numbers{
    flex-grow: 1;
    flex-direction: column;
}

.operators{
    width: 25px;
}